.grid_container {
  background-color: grey;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid_item1 {
  grid-column: span 12;

  text-align: center;
  font-family: var(--font-h1);
  font-size: var(--fs-xxl);
  text-transform: uppercase;
  letter-spacing: -5%;
  text-align: left;
  padding: 20px;
  width: 100%;
  height: 100%;

  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.grid_item1 h1 {
  height: 100%;
  display: flex;
  flex-flow: row;
  line-height: 80%;
  text-align: start;
  padding-left: 20px;
}

.title_half {
  color: var(--primary);
}

.grid_item2 {
  display: grid;

  grid-column: span 4;
}
