.header {
  font-size: var(--fs-base);
  font-family: var(--font-clickable);
  letter-spacing: -5%;
  background-color: var(--primary-light);
  justify-content: center;
  position: fixed;
  width: 100%;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header li {
  padding: 20px;
  align-self: center;
}

.header li:first-child {
  font-weight: bolder;
  text-transform: uppercase;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  gap: 5px;
}

.header li p {
  align-self: center;
}

.header li:last-child {
  display: none;
}

.header li:last-child:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header li:last-child {
    display: inline-block;
  }

  .hide_on_mobile {
    display: none;
  }
}
