.button a {
  font-size: var(--fs-base);
  font-family: var(--font-clickable);
  letter-spacing: -1px;
  display: block;
  height: 100%;
  width: fit-content;
  margin-left: 15px;

  padding: 12px 17px;
  border-radius: 7.25px;
  background-color: var(--primary-light);
}

.button a:hover {
  color: white;
  background-color: black;
  transition: all ease-out 0.3s;
}
