.sidebar {
  font-size: var(--fs-base);
  font-family: var(--font-clickable);

  position: fixed;
  top: 0;
  right: 100%;
  height: 100dvh;
  width: 250px;
  background-color: var(--primary-light);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  backdrop-filter: blur(100px);
}

.active {
  right: 0;
}

.sidebar ul {
  width: 100%;
}

.sidebar li {
  width: 100%;
  height: 84px;
  text-align: center;
  align-content: center;
}

.sidebar li:hover:not(:last-child) {
  background-color: white;
}

.sidebar li:last-child {
  padding: 0 10px;
}

.sidebar a {
  align-self: center;
}

.sidebar svg {
  margin-right: 150px;
  cursor: pointer;
}
