* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  width: 100dvw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  line-height: normal;
}
